* {
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing:content-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: pink;
}

.hide {
    display: none;
}

.info-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.score-container,
.time-container {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    width: 1fr;
    text-transform: uppercase;
}

#score,
#time-left {
    font-family: 'Press Start 2P', cursive;
    margin-left: 10px;
}

.grid {
    width: 231px;
    height: 231px;
    display: flex;
    flex-flow: row wrap;
    border: 10px solid rgb(129, 99, 121);
    border-radius: 10px;
    background-image: url('../img/pexels-colys-hat-1587548.jpg');
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.square {
    width: 75px;
    height: 75px;
    border: solid black 1px;
    overflow: hidden;
}

.mole {
    background-image: url('../img/mole.png');
    background-size: cover;
    transition: ease-out 0.08s ; 
}

.mole:active {
    background-size: 80px;
}

.game-over {
    margin: 30px auto;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}

footer {
    margin-top: 400px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 700px) {

    body {
        margin-top: 70px;
    }

    .info-container {
        display: flex;
        flex-flow: row nowrap;
        width: 50%;
    }

    .score-container,
    .time-container {
        justify-content: space-around;
    }

    .grid {
        width: 476px;
        height: 476px;
        border: 10px solid rgb(129, 99, 121);
    }

    .square {
        width: 156.666666667px;
        height: 156.666666667px;
    }

    .mole:active {
        background-size: 125px;
    }

   
}

@media only screen and (min-width: 1000px) {
    .grid {
        width: 506px;
        height: 506px;
    }

    .square {
        width: 166.666666667px;
        height: 166.666666667px;
    }

   
    .mole:active {
        background-size: 205px;
    }
    

    
}